<div id="roster">
	<h1><%= params[:id] %></h1>
	<table cellspacing='0'> 
		<thead>
			<tr>
				<th>Player Name</th>
				<th>Position</th>
				<th>Hometown</th>
			</tr>
		</thead>
		<tbody>
			<% @playerList.each do |t| %>
			<tr>
				<td><%= t.name %></td>
				<td><%= t.pos %></td>
				<td><%= t.hometown %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>